<!DOCTYPE>
<html>

<head>
  <title>VueJS Course</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div id="app">
<ul>
  <li v-for="(bird, index) in birds":class='bird'>
{{ bird }}
  </li>

  <hr />

</ul>    

<ul v-for="person in people">
  <li>
<div>
  <p>{{ person.name}}</p>
</div>
<div>
  <p>{{person.age}}</p>
</div>
  </li>
</ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="app.js"></script>
</body>

</html>